* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    max-width: 1260px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

section > article:nth-child(3n-1)
{
    background-image: linear-gradient(45deg, #FCC095, #fd8095);
}

section > article:nth-child(3n-2) {
    background-image: linear-gradient(45deg, #8CC8F4, #138be0);
}

section > article:nth-child(3n) {
    background-image: linear-gradient(45deg, #7CD9D1, #07c2a9);
}


.card {
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 240px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 40px 35px;
    position: relative;
    color: #fff;
    margin-top: 10px;
    z-index: -1;
}

.content {
    z-index: 1;
}

.content > h2 {
    padding-top: 15px;
    font-size: 32px;
}

.content > h3 {
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
}

.content > h4 {
    position: absolute;
    bottom: 40px;
    left: 35px;
    
}

.content > img {
    position: absolute;
    top: 40px;
    right: 35px;
    max-width: 20px;
    min-height: 20px;
}


.circle {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    opacity: .2;
}

.card > div.circle:nth-child(1) {
    top: -30px;
    right: -70px;
}

.card > div.circle:nth-child(2) {
    bottom: -100px;
    right: -20px;
}